@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
  background-color: #e8ebf3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-form {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.input-form .search-bar {
  padding: 10px;
  margin: 20px;
}

.filter-form {
  text-align: center;
  padding: 10px;
  margin-left: 20px;
}

.filter-form div {
  padding: 10px;
  margin: 20px;
}

.search-bar {
  width: 50%;
  text-align: left;
}

.search-form {
  text-align: center;
  background-color: rgba(115, 137, 155, 0.548);
}

.dashboard-panel {
  background-color: rgba(241, 241, 241, 1);
}

.datafiles {
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  font-size: 15px;
}

.filedata {
  margin: 10px;
  background-color: rgba(232, 235, 243, 1);
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.metadata {
  margin: 10px;
  background-color: rgba(233, 206, 242, 0.3);
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}
