@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #f3f5f7;
}

/* SEARCH */

.search-form {
  background-color: #f3f5f7;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  grid-template-columns: 16fr 1fr;
  display: grid;
}

.search-by {
  background-color: #f3f5f7;
  border-radius: 4px;
  text-align: center;
  width: 95%;
  border: 1px solid #f3f5f7;
}

.button {
  background-color: #f3f5f7;
  border: 1px solid #f3f5f7;
  cursor: pointer;
}

.button:focus {
  background-color: #f3f5f7;
  cursor: pointer;
  outline: none;
}

#search-button:hover {
  background-color: #f3f5f7;
  cursor: pointer;
  outline: none;
  color: rgb(57, 138, 77);
}

#clear-button:hover {
  background-color: #f3f5f7;
  cursor: pointer;
  outline: none;
  color: rgb(206, 76, 76);
}

.search-error {
  color: red;
  font-size: 9px;
  position: absolute;
}

.search-error h8 {
  float: right;
  margin-left: 3px;
  margin-top: 3px;
}

/* FILTER */

.filter-dashboard {
  background-color: #f3f5f7;
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  height: calc(100vh - 97px);
}

.filter-form {
  background-color: white;
  border-radius: 4px;
  width: 246px;
  height: 500px;
}

.filter-form table {
  margin-top: 50px;
}

.filter-form .f-option {
  padding: 10px;
  width: 30%;
}

.f-header {
  color: rgb(42, 108, 165);
  font-size: 11px;
}

.filter-form .f-form {
  width: 70%;
  padding: 10px;
}

.form-box {
  width: 100%;
  background-color: #f3f5f7;
  border-radius: 4px;
  font-size: 10px;
}

.reset {
  align-content: center;
  margin-top: 20px;
  text-align: center;
}

.reset-filter {
  background-color: #f3f5f7;
  border-radius: 4px;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  cursor: pointer;
}

.reset-filter:focus {
  background-color: #f3f5f7;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
}

.reset-filter:hover {
  background-color: #b8d7f5bf;
  border-radius: 4px;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
}

/* DASHBOARD */

.dashboard {
  border-radius: 4px;
  overflow-y: scroll;
}

.loading-screen {
  border-radius: 6px;
  text-align: center;
  background-color: white;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  margin-top: 160px;
}

.loading-spin {
  margin-top: 20px;
}

.results-header {
  margin-bottom: 15px;
  background-color: rgba(139, 185, 213, 0.276);
  border-radius: 4px;
  font-size: 11px;
}

.results-header .num-results {
  float: right;
}

.dashboard-panel {
  font-size: 12px;
  width: 100%;
  min-width: 880px;
  padding-left: 5px;
}

/* PANEL */

.result-panel {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  height: 120px;
  font-size: 11px;
}

.p-result-panel {
  width: 100%;
  padding-left: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  height: 100px;
  font-size: 11px;
}

.filename-info {
  margin-bottom: 5px;
  font-size: 11px;
}

.platform-available {
  float: right;
  background-color: rgba(228, 174, 199, 0.644);
  text-align: center;
  border-radius: 5px;
}

.result-panel table {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}

.result-panel table td {
  text-align: left;
  min-width: 120px;
  width: 20%;
  padding: 5px;
}

.p-result-panel table {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}

.p-result-panel table td {
  text-align: left;
  min-width: 120px;
  width: 20%;
  padding: 5px;
}

.heading {
  color: rgba(128, 128, 128, 0.585);
  font-size: 11px;
}

.filetype {
  background-color: rgba(180, 199, 218, 0.489);
  text-align: center;
  border-radius: 5px;
  width: 38%;
}

.sampletype {
  background-color: rgba(182, 235, 204, 0.489);
  text-align: center;
  border-radius: 5px;
  width: 46%;
}

.genome {
  background-color: rgba(182, 183, 235, 0.489);
  text-align: center;
  border-radius: 5px;
  width: 46%;
}

.dnanexus-popup {
  background-color: rgba(235, 207, 182, 0.489);
  text-align: center;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

.netapp-popup {
  background-color: rgba(228, 174, 199, 0.489);
  text-align: center;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

/* PLATFORM */

.dnanexus-platform {
  border-radius: 5px;
  font-size: 10px;
  background-color: rgba(235, 207, 182, 0.125);
  margin-bottom: 10px;
}

.netapp-platform {
  border-radius: 5px;
  font-size: 10px;
  background-color: rgba(228, 174, 199, 0.125);
}

.dnanexus-platform table {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}

.dnanexus-platform table td {
  text-align: left;
  min-width: 120px;
  padding: 5px;
}

.netapp-platform table td {
  text-align: left;
  min-width: 120px;
  padding: 5px;
}

.netapp-platform table {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}

.ccia {
  padding: 10px;
}

.ccia-logo {
  width: 65px;
  height: 65px;
}
